{% extends 'base.html' %}
{% load static %}
{% block title %} Parol yangilash {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'sign.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <h2 >Parolni yangilash</h2>
    <form method="POST" class="login">
      {% csrf_token %}
      <div class="field">
        <label for="username">Email</label>
        <input type="email" name="username" placeholder="email kiriting..." id="username" required>
        <br><br>{{ text }}
      </div>
      <div class="field btn">
        <div class="btn-layer"></div>
        <input class="knopka" type="submit" name="login" value="yuborish">
      <div class="signup-link">Akkauntingiz yo'qmi? <a href="{% url 'sign' %}">Ochish</a></div>
    </form>
</div>
{% endblock %}
